body {
  background-color: rgb(12, 0, 177);
}
.grid {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
}
.cell {
  background-color: white;
  border: 2px solid black;
  width: 25px;
  height: 25px;
}
